{% extends 'layout.html.twig' %}

{% block title %}
    Garbage Files - {{ parent() }}
{% endblock %}

{% block content %}
    <h1>{{ secure_message|raw }}</h1>

    <img src="assets/images/4.jpg" alt=""/>
{% endblock %}
