{% extends 'layout.html.twig' %}

{% block title %}
    Garbage Files - {{ parent() }}
{% endblock %}

{% block content %}
    <h1>{{ secure_message|raw }}</h1>

    <div id="notepad">
        {{ note_content|raw }}
    </div>

    <form action="/garbage-files" method="post" id="noteform">
        <textarea name="note" id="note-field" cols="30" rows="15" placeholder="Notepad..."></textarea>
        <button>Update note</button>
    </form>

    <img src="assets/images/4.jpg" alt=""/>
{% endblock %}
