{% extends 'layout.html.twig' %}

{% block title %}
    The Gibson - {{ parent() }}
{% endblock %}

{% block content %}
    <h1>The Gibson supercomputer.</h1>

    <script>
        alert('This page is totally secured.');
    </script>

    <img src="assets/images/4.jpg" alt=""/>
{% endblock %}
